/* font */
@font-face {
    font-family: '432-cai978regular';
    src: url('./font/432-cai978-webfont.eot');
    src: url('./font/432-cai978-webfont.eot?#iefix') format('embedded-opentype'),
         url('./font/432-cai978-webfont.woff2') format('woff2'),
         url('./font/432-cai978-webfont.woff') format('woff'),
         url('./font/432-cai978-webfont.ttf') format('truetype'),
         url('./font/432-cai978-webfont.svg#432-cai978regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Light';
    src: url('./font/helveticaneue-light-webfont.eot');
    src: url('./font/helveticaneue-light-webfont.eot?#iefix') format('embedded-opentype'),
         /*url('./font/helveticaneue-light-webfont.woff2') format('woff2'),*/
         url('./font/helveticaneue-light-webfont.woff') format('woff'),
         url('./font/helveticaneue-light-webfont.ttf') format('truetype'),
         url('./font/helveticaneue-light-webfont.svg#Helvetica Light') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* reset */
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:bold;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{font:12px/1.14 arial,\5b8b\4f53;color:#333;outline:0;}
body{background:#fff;}
a,a:hover{color:#333;}
/* function */
.f-cb:after,.f-cbli li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.f-cb,.f-cbli li{zoom:1;}
.f-ib{display:inline-block;*display:inline;*zoom:1;}
.f-dn{display:none;}
.f-db{display:block;}
.f-fl{float:left;}
.f-fr{float:right;}
.f-pr{position:relative;}
.f-prz{position:relative;zoom:1;}
.f-oh{overflow:hidden;}
.f-ff0{font-family:'432-cai978regular';}
.f-ff1{font-family:'Helvetica Light';}
.f-usn{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-o-user-select:none;user-select:none;}


/* main */
body{font-family:Arial,sans-serif;-webkit-text-size-adjust:none;}
h1,h2{font-weight:normal;}
.g-bd{background-color:#000;}
.g-hd{position:fixed;z-index:999;top:0;left:0;width:100%;height:60px;background:rgba(255,255,255,0);}
.g-hd .logo{float:left;margin-top:5px;margin-left:50px;}
.g-hd .logo img{display:block;width:79px;height:50px;}
.g-hd .nb{position:relative;float:right;margin-right:100px;}
.g-hd .line{border-bottom:1px solid #828282;}
.g-hd .nav{list-style:none;}
.g-hd .nav li,.g-hd .nav a{display:block;float:left;height:60px;line-height:60px;}
.g-hd .nav li{position:relative;padding:0 70px;}
.g-hd .nav a{color:#fff;font-size:22px;font-family:'Helvetica Light';}
.g-hd .nav1 a{color:#000;}
.g-hd .mask{position:absolute;left:0;bottom:-8px;width:100%;height:7px;background-color:#000;}
.g-hd .curr{position:absolute;left:0px;bottom:-6px;width:10px;height:10px;background-color:#828282;}
.g-hd .curr-1{left:92px;}
.g-hd .curr-2{left:302px;}
.g-hd .curr-3{left:518px;}
.g-hd .curr-4{left:722px;}
.g-hd .transform{
-webkit-transform:rotate(45deg);
   -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
       transform:rotate(45deg);
      -ms-filter:"progid:DXImageTransform.Microsoft.Matrix(
        M11=0.7071067811865475,
        M12=-0.7071067811865477,
        M21=0.7071067811865477,
        M22=0.7071067811865475,
        SizingMethod='auto expand')";
          filter: progid:DXImageTransform.Microsoft.Matrix(
        M11=0.7071067811865475,
        M12=-0.7071067811865477,
        M21=0.7071067811865477,
        M22=0.7071067811865475,
        SizingMethod='auto expand');
}

.g-doc{background-color:#000;overflow-y:hidden;}
.g-doc .wrap{width:100%;overflow:hidden;color:#ccc;}
.g-doc .play{display:block;position:absolute;width:40px;height:40px;text-indent:-9999px;background:url(../images/icon.png) no-repeat -3px -4px;background-size:200px 200px;}
.g-doc .play:hover{background-position:-3px -4px;}
.m-home{position:relative;background-color:#000;text-align:center;}
.m-home .bg{position:fixed;top:120px;margin:auto;background:url(../images/home.jpg) no-repeat top left scroll;background-size:contain;}
.m-home .bg0{background-image:url(../images/home.jpg);background-attachment:fixed;background-repeat:no-repeat;}
.m-home .bg1{position:absolute;top:120px;left:50%;height:100%;width:500px;background-size:100%;background-position:50% 50%;background-attachment:fixed;background-image:url(../images/home.jpg);background-repeat:no-repeat;}
.m-home .cnt{position:absolute;top:0;left:0;height:100%;width:100%;}
.m-home .name{margin-top:24%;font-size:70px;}
.m-home .desc{margin-top:10px;font-size:20px;letter-spacing:.2em;}

.m-fashion{position:relative;background-color:#000;}
.m-fashion .bg{position:absolute;top:120px;margin:auto;background:url(../images/fashion.jpg) no-repeat top left scroll;background-size:contain;}
.m-fashion .cnt{position:absolute;top:40%;left:20%;}
.m-fashion .name{font-size:45px;letter-spacing:.1em;}
.m-fashion .desc{font-size:24px;letter-spacing:.1em;color:#54b1e0;}
.m-fashion .play{top:6px;right:-55px;}

.m-creation{position:relative;background-color:#000;}
.m-creation .bg{position:absolute;top:120px;margin:auto;background:url(../images/creation.jpg) no-repeat top left scroll;background-size:contain;}
.m-creation .cnt{position:absolute;top:40%;left:20%;}
.m-creation .name{font-size:45px;letter-spacing:.1em;}
.m-creation .desc{font-size:24px;letter-spacing:.1em;color:#54b1e0;}
.m-creation .play{top:6px;right:-60px;}

.m-aboutme{position:relative;background-color:#fff;}
.m-aboutme .bg{position:absolute;top:120px;left:200px;width:300px;height:450px;margin:auto;background:url(../images/aboutme.jpg) no-repeat top left scroll;background-size:contain;}
.m-aboutme .cnt{position:absolute;top:120px;right:200px;text-align:center;color:#000;}
.m-aboutme .logo{margin-bottom:85px;}
.m-aboutme .logo img{display:block;width:79px;height:50px;margin:0 auto;}
.m-aboutme .desc{margin-bottom:35px;font-size:22px;line-height:30px;letter-spacing:.05em;}
.m-aboutme .contact{margin-bottom:35px;font-size:14px;line-height:30px;}
.m-aboutme .coll{margin-top:35px;font-size:14px;}
.m-aboutme .coll th,.m-aboutme .coll tr{height:30px;text-align:center;}
.m-aboutme .coll td{width:185px;color:#0c75b1;}

.g-hd1{background:#fff;}
.g-doc1{background:#fff;padding-top:100px;}
.m-album{width:90%;margin:0 auto;}
.m-album .item{position:relative;float:left;width:24%;margin-right:1%;}
.m-album .item img{display:block;width:100%;height:auto;}
.m-album .item .mask{position:absolute;top:0;left:0;width:100%;height:100%;visibility:hidden;background:rgba(255,255,255,0.8);}
.m-album .item:hover .mask{visibility:visible;}
.m-album .item .title{margin-top:50%;font-size:18px;text-align:center;text-transform:uppercase;}
.m-album-1{width:70%;}
.m-album-1 .item{width:32%;}

.m-coll{position:relative;}
.m-coll .icon{display:block;text-indent:-9999px;background:url(../images/icon.png) no-repeat -4px -5px;background-size:125px 125px;}
.m-coll .mode{position:fixed;right:45px;}
.m-coll .mode .mode2{width:25px;height:25px;background-position:-2px -32px;}
.m-coll .mode .mode6{width:40px;height:25px;background-position:-2px -64px;}
.m-coll .side{position:fixed;float:left;width:220px;padding-left:50px;}
.m-coll .side .ttl{border-bottom:1px solid #1c1c1c;text-align:right;font-size:24px;font-weight:normal;}
.m-coll .side .btn{display:block;position:absolute;top:30px;right:0;width:50px;height:50px;background:url(../images/back.png) no-repeat 0 0;text-indent:-9999px;}
.m-coll .side .nav{list-style:none;}
.m-coll .nav li{margin-bottom:12px;}
.m-coll .nav li,.m-coll .nav a{display:block;height:22px;line-height:22px;}
.m-coll .nav a{color:#999;font-size:14px;font-family:'Helvetica Light';}
.m-coll .nav a:hover,.m-coll .nav .curr{color:#000;}
.m-coll .list{margin-left:300px;margin-right:100px;list-style:none;}
.m-coll .status{text-align:center;}
.m-coll .itwo{text-align:center;}
.m-coll .item .img{display:block;margin:0 auto;height:100%;}
.m-coll .itwo .img{display:inline-block;margin:0 2%;}
/*
.m-coll .list img{max-height:300px;}
.m-coll .list .item{display:block;float:left;height:300px;min-width:100px;margin:0 5px 5px 0;background-color:#000;}
.m-coll .item img{
-webkit-transition: opacity 0.4s;
   -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
        transition: opacity 0.4s;
}
*/

